<Page>
  <FlexboxLayout width="100%" height="100%" androidStatusBarBackground="transparent">
    <GridLayout backgroundColor="transparent" width="100%" height="100%" class="grid-container">
      <StackLayout width="100%" height="10%"  backgroundColor="black" opacity=".7" verticalAlignment="top">
        <Image class="logo" stretch="aspectFill" width="50%" height="60" src="res://valet_logo"></Image>
      </StackLayout>

      <GridLayout verticalAlignment="middle" backgroundColor="black" padding="20%" borderColor="white" borderWidth="2px" borderRadius="10" horizontalAlignment="center" rows="auto,auto,auto,auto">
        <StackLayout row="0" width="80%" backgroundColor="transparent" height="auto" orientation="horizontal">
          <StackLayout height="25" width="12.5%">
            <Button class="userIcon"></Button>
          </StackLayout>
          <TextField width="100%" hint="Email" color="#FFFFFF" style.placeholderColor="#B9B9B9" autocorrect="false"
            (textChange)="emailTextField($event)"></TextField>
        </StackLayout>

        <StackLayout row="1" width="80%" backgroundColor="transparent" height="auto" orientation="horizontal">
          <StackLayout height="25" width="12.5%">
            <Button class="passIcon"></Button>
          </StackLayout>
          <TextField width="100%" hint="Password" color="#FFFFFF" style.placeholderColor="#B9B9B9" secure="true"
            (textChange)="passwordTextField($event)"></TextField>
        </StackLayout>

        <StackLayout row="2" class="login-button-container">
          <Button text="Login" class="font-weight-bold login-button" (tap)="onLoginTap()"></Button>
        </StackLayout>

        <StackLayout row="3" backgroundColor="transparent" verticalAlignment="top" horizontalAlignment="center">
          <Button class="font-italic forgot-password-label" text="Forgot Password"></Button>
        </StackLayout>
      </GridLayout>
    </GridLayout>
  </FlexboxLayout>
</Page>