 .grid-container {
   background-image: url("res://valet");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }


 .passIcon {
   background-image: url("res://icon_username");
   box-sizing: border-box;
   background-repeat: no-repeat;
   vertical-align: middle;

 }

 .userIcon {
   background-image: url("res://icon_username");
   box-sizing: border-box;
   background-repeat: no-repeat;
   vertical-align: middle;
 }

 .page {
   background-position: center;

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;

   filter: blur(5px);
 }

 .forgot-password-label {
   font-size: 15;
   color: white;
   background-color: transparent;
   z-index: 0;
 }

 .forgot-password-label:active {
   font-size: 15;
   color: #cc3333;
 }

 .user-button {
   width: 50%;
 }

 .login-button {

   border-radius: 20;
   background-color: #D40000;
   color: white;
   width: 100%;

   z-index: 0;
 }


 .login-button:active {
   color: white;
   background-color: #4f4f4f;
 }

 .login-button-container {
   margin-top: 15;
   border-radius: 20;
   background-color: #cc3333;
   width: 78%;
 }