<GridLayout *ngIf="booking" (loaded)='onPageLoaded($event)' rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">

    <Label class="font-weight-bold" fontSize="20" row='0' text="AirPortId"></Label>
    <TextField row='1' width="100%" hint="AirPortId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="airportIdTextField($event)"></TextField>


    <Label class="font-weight-bold" fontSize="20" row='2' text="Departure"></Label>

    <TextField row='3' width="100%" hint="AirLineId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="airlineIDDepTextField($event)"></TextField>


    <TextField row='4' width="100%" hint="DepartureAt" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="departureAtTextField($event)"></TextField>

    <TextField row='5' width="100%" hint="FlightNumber" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="flightNumberDepTextField($event)"></TextField>



    <Label class="font-weight-bold" fontSize="20" row='6' text="Arrival"></Label>

    <TextField row='7' width="100%" hint="AirLineId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="airlineIdAriTextField($event)"></TextField>


    <TextField row='8' width="100%" hint="ArrivalAt" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="arrivalAtTextField($event)"></TextField>

    <TextField row='9' width="100%" hint="FlightNumber" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="flightNumberAtTextField($event)"></TextField>

    <TextField row='10' width="100%" hint="Email" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carInfoTextField($event)"></TextField>

    <Button row='11' (tap)="onNextClick()" text="Next" textTransform='none'></Button>

</GridLayout>



<GridLayout *ngIf="!booking" width="100%" height="100%" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">


    <Label class="font-weight-bold" fontSize="20" row='0' text="User"></Label>

    <TextField row='1' width="100%" hint="email" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="emailIdTextField($event)"></TextField>

    <TextField row='2' width="100%" hint="name" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="nameTextField($event)"></TextField>

    <TextField row='3' width="100%" hint="mobile_number" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="numberTextField($event)"></TextField>


    <Label class="font-weight-bold" fontSize="20" row='4' text="CarInfo"></Label>

    <TextField row='5' width="100%" hint="Licence" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carLicenceTextField($event)"></TextField>

    <TextField row='6' width="100%" hint="CarBrandId" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carBrandIdTextField($event)"></TextField>

    <TextField row='7' width="100%" hint="Car Model" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carModelTextField($event)"></TextField>

    <TextField row='8' width="100%" hint="Color" color="black" style.placeholderColor="#B9B9B9" autocorrect="false"
        (textChange)="carColorTextField($event)"></TextField>

    <Button text="Submit" row='9' (tap)="onSubmitClick()"></Button>
    <Button text="Back" row='10' (tap)="onBackClick()"></Button>


</GridLayout>