<Page height="100%" width="100%" androidStatusBarBackground="black">
  <GridLayout height="100%" width="100%" class="page" rows="auto,auto,auto,auto">
    <StackLayout row="0" width="100%" height="15%" orientation="horizontal" columns="auto,auto,auto,auto,auto">
      <StackLayout col="0" marginLeft="2%" width="20%" height="100%" orientation="horizontal">
        <TextField hint="Customer Name" secure="false" height="80%" marginTop="5%" borderWidth="1 1 1 1" borderColor="#bdc3c7"
          returnKeyType="done" autoCorrect="false" class="input" fontSize="15" width="100%" (textChange)="nameTextField($event)"></TextField>
      </StackLayout>
      <StackLayout col="1" marginLeft="2%" width="20%" height="100%" orientation="horizontal">
        <TextField hint="Car Plate" secure="false" height="80%" marginTop="5%" borderWidth="1 1 1 1" borderColor="#bdc3c7"
          returnKeyType="done" autoCorrect="false" class="input" fontSize="15" width="100%" (textChange)="carPlateTextField($event)"></TextField>
      </StackLayout>
      <StackLayout col="2" marginLeft="2%" width="20%" height="100%" orientation="horizontal">
        <TextField hint="Flight Number" secure="false" height="80%" marginTop="5%" borderWidth="1 1 1 1" borderColor="#bdc3c7"
          returnKeyType="done" autoCorrect="false" class="input" fontSize="15" width="100%" (textChange)="flightNumberTextField($event)"></TextField>
      </StackLayout>
      <StackLayout col="3" marginLeft="2%" width="20%" height="100%" orientation="horizontal">
        <TextField hint="Date" secure="false" height="80%" marginTop="5%" borderWidth="1 1 1 1" borderColor="#bdc3c7"
          returnKeyType="done" autoCorrect="false" class="input" fontSize="15" width="100%" (textChange)="dateTextField($event)"></TextField>
      </StackLayout>
      <GridLayout col="4" width="8%" height="80%" marginLeft="2%">
        <StackLayout verticalAlignment="middle" horizontalAlignment="center" width="100%" height="100%" backgroundColor="#3498db"
          borderRadius="2" (tap)="onSearchTap()">
          <Image class="logo" height="60%" width="60%" src="res://search_icon"></Image>
        </StackLayout>
      </GridLayout>
    </StackLayout>
    <StackLayout row="1" width="100%" height="7%" orientation="horizontal" columns="auto,auto,auto,auto,auto,auto,auto,auto,auto">
      <StackLayout col="0" width="9%" height="100%" marginLeft="2%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Time"></Label>
      </StackLayout>
      <StackLayout col="1" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Name"></Label>
      </StackLayout>
      <StackLayout col="2" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Email"></Label>
      </StackLayout>
      <StackLayout col="3" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Mobile Number"></Label>
      </StackLayout>
      <StackLayout col="4" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Car Plate"></Label>
      </StackLayout>
      <StackLayout col="5" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Car Model"></Label>
      </StackLayout>
      <StackLayout col="6" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Car Color"></Label>
      </StackLayout>
      <StackLayout col="7" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Flight Number"></Label>
      </StackLayout>
      <StackLayout col="8" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent" horizontalAlignment="center">
        <Label class="font-italic agenda-header" text="Arrival/Departure"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout row="2" width="99%" height="1%" backgroundColor="#bdc3c7"></StackLayout>
    <ListView row="3" width="100%" height="77%" [items]="items" (itemTap)="onItemTap($event)" padding="0%" class="list-group">
      <ng-template let-item="item">
        <StackLayout width="100%" height="10%" backgroundColor="red" orientation="horizontal" columns="auto,auto,auto,auto,auto,auto,auto,auto,auto">
          <!-- <StackLayout col="0" width="9%" height="100%" marginLeft="2%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="1" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="2" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="3" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="4" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="5" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="6" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="7" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="8" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout> -->
        </StackLayout>
      </ng-template>
    </ListView>


    <!-- <RadListView backgroundColor="blue" row="3" width="100%" height="77%" [items]="dataItems" (itemTapEvent)="onItemTap($event)" padding="0%"
      class="list-group" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
      <ng-template let-item="item">
        <StackLayout backgroundColor="red" width="100%" height="10%" orientation="horizontal" columns="auto,auto,auto,auto,auto,auto,auto,auto,auto">
          <StackLayout col="0" width="9%" height="100%" marginLeft="2%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="1" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="2" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="3" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="4" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="5" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="6" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="7" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="8" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
        </StackLayout>
      </ng-template>

      <ListViewLinearLayout *tkIfIOS tkListViewLayout itemHeight="120"></ListViewLinearLayout>
    </RadListView> -->
    <!-- <ListView row="3" width="100%" height="77%" [items]="items" (itemTap)="onItemTap($event)" padding="0%" class="list-group">
      <ng-template let-item="item">
        <StackLayout width="100%" height="10%" orientation="horizontal" columns="auto,auto,auto,auto,auto,auto,auto,auto,auto">
          <StackLayout col="0" width="9%" height="100%" marginLeft="2%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="1" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="2" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="3" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="4" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="5" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="6" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="7" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
          <StackLayout col="8" width="10%" height="100%" marginLeft="1%" backgroundColor="transparent"
            horizontalAlignment="center">
            <Label class="agenda-detail" text="rftyff"></Label>
          </StackLayout>
        </StackLayout>
      </ng-template>
    </ListView> -->
  </GridLayout>
</Page>