<GridLayout [height]="height" [width]="width" [backgroundColor]="backgroundColor" columns="*,*">
    <Button [class]="leftButtonStyle" col="0" (tap)="onLeftClick($event)" [height]="height" [width]="width"
        [text]="leftLabelText" [style.backgroundColor]="selectedLeftColor" [style.borderColor]="borderColor"
        [style.borderWidth]="borderWidth" [style.borderBottomLeftRadius]="borderRadius" [color]="leftLabelTextColor"
        [style.borderTopLeftRadius]="borderRadius" [style.borderBottomRightRadius]="0" [fontSize]="fontsize"
        [style.borderTopRightRadius]="0"></Button>

    <Button [class]="rightButtonStyle" col="1" [text]="rightLabelText" (tap)="onRightClick($event)" [height]="height"
        [width]="width" [style.backgroundColor]="selectedRightColor" [style.borderColor]="borderColor"
        [style.borderWidth]="borderWidth" [style.borderBottomLeftRadius]="0" [style.borderTopLeftRadius]="0"
        [color]="rightLabelTextColor" [style.borderBottomRightRadius]="borderRadius" [fontSize]="fontsize"
        [style.borderTopRightRadius]="borderRadius"></Button>
</GridLayout>