.left-button {
/* border-bottom-left-radius: 10vh;
border-top-left-radius: 10vh;
border-bottom-right-radius: 0vh;
border-top-right-radius: 0vh;
border-width: 1px;
border-color: blue; */
}

.right-button {
    /* border-bottom-left-radius: 0vh;
    border-top-left-radius: 0vh;
    border-bottom-right-radius: 10vh;
    border-top-right-radius: 10vh;
    border-width: 1px;
border-color: blue; */
}

.clicked{
    background-color: blue;
}

.unclicked{
    background-color: transparent;
}