



.action-heading {
    color: white;
    font-size: 20;
    font-weight: 500;
    margin-left: 5%
}

.action-body {
    color: black;
    font-size: 20;
    font-weight: 500;
}

.action-menu {
    height: 100%;
    width: 100%;
}

.checkin-button {
    background-color: #3498db;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
}

.clear-button {
    background-color: #3498db;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
}

.signature-button {
    background-color: #3498db;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
}

.popup-button {
    background-color: #3498db;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    border-radius: 5;
    text-transform: none;
}

.signature-image {
    width: 60%;
    height: 90%;
    background-color: white;
    border-color: #3498db;
    border-radius: 5;
    border-width: 2;
}

.car-images {
    width: 90%;
    height: 100%;
    margin-top: 10;
    background-color: white;
    border-color: #3498db;
    border-radius: 5;
    border-width: 2;
}

button,
label,
stack-layout {
    horizontal-align: center;
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}


.imageStack {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.capture {
    background-image: url("res://camera");
    background-repeat: no-repeat;
    width: 55%;
    height: 33%;
    background-position: 85% 50%;
    padding-left: 5%;
    background-origin: border-box;
}

.pick {
    background-image: url("res://gallery");
    background-repeat: no-repeat;
    width: 55%;
    height: 33%;
    background-position: 85% 50%;
    padding-left: 5%;
    background-origin: border-box;
}

.getOrClick {
    width: 50vh;
    height: 50vh;
    background-color: red;
    /* border-radius:25vh; */
    box-shadow: 25vh 25vh 25vh #979090;
}




.btn1 {
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);
    /*IconColor*/
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}

.btn1 .fa {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    line-height: 80px;
}

.btn1:active {
    /*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.option-menu-btn {
    background-image: url('res://menu_icon');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.option-menu-btn:active {
    background-color: #696969;
}





.signature-capture-button {
    background-image: url("res://camera_icon");
    background-size: 10% 42%;
    width: 85%;
    height: 90%;
    border-radius: 5;
    background-color: #3498db;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 5% 50%;
    padding-left: 35%;
    text-align: left;
    font-size: 15;
}

.signature-capture-button:active {
    background-color: #1e5a83;
}

.pick-image-button {
    background-image: url("res://gallery_icon");
    background-size: 10% 42%;
    width: 85%;
    height: 90%;
    border-radius: 5;
    background-color: #3498db;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 5% 50%;
    padding-left: 35%;
    text-align: left;
    font-size: 15;
}

.pick-image-button:active {
    background-color: #1e5a83;
}


.damage-dialog {
    border-color: white;
    border-width: 1;
    border-radius: 4;
}



.position-type-textfield {
    border-radius: 4;
    place-holder: #a9a9a9;
    background-color: #3498db;
    color: black;
}




.damage-submit {
    border-radius: 5;
    background-color: #3498db;
    width: 100%;
    height: 100%;
    font-size: 15;
}

.damage-submit:active {
    background-color: #1e5a83;
}