<Page height="100%" width="100%" androidStatusBarBackground="black">
    <GridLayout class="page">

        <GridLayout #selectionDialog modal style.zIndex="999" size="sm" duration="100">
            <GridLayout class="damage-dialog" rows="auto,auto" width="70%" height="100%">

                <GridLayout row="0" width="80%" height="30%" marginTop="17.5%">
                    <Button class="signature-capture-button" text="Capture From Camera" textTransform="none" (tap)="captureImage()">
                    </Button>
                </GridLayout>
                <GridLayout row="1" marginTop="5%" width="80%" height="30%">
                    <Button class="pick-image-button" text="Pick From Gallery" textTransform="none" (tap)="pickImage()">
                    </Button>
                </GridLayout>
            </GridLayout>
        </GridLayout>

        <StackLayout #damageDialog modal style.zIndex="999" size="sm" alignment="middle" duration="100">
            <GridLayout class="damage-dialog" rows="auto,auto,auto" width="70%">
                <GridLayout row="0" width="75%" height="25%" marginTop="5%">
                    <TextField class="position-type-textfield" hint="Enter Damage Position" (textChange)="onTextChange($event)"></TextField>
                </GridLayout>
                <GridLayout row="1" width="75%" height="25%" marginTop="5%">
                    <switch-button width="100%" height="100%" leftLabelText="Inside" rightLabelText="Outside"
                        selectedColor="#3498db" borderColor="#3498db">
                    </switch-button>
                </GridLayout>
                <GridLayout row="2" width="75%" height="25%" marginBottom="5%" marginTop="5%">
                    <Button class="damage-submit" text="Submit" (tap)="onDamageSubmit()">
                    </Button>
                </GridLayout>
                <ActivityIndicator row="1" color="white" [busy]="isBusy"></ActivityIndicator>

            </GridLayout>
        </StackLayout>

        <GridLayout height="100%" width="100%" rows="auto,auto">
            <GridLayout row="0" backgroundColor="#3498db" columns="auto,auto,auto" width="100%" height="15%">
                <GridLayout col="0" columns="auto,auto" height="100%" width="45%">
                    <Label class="action-heading" col="0" verticalAlignment="middle" horizontalAlignment="left" text="Name : ">
                    </Label>
                    <Label class="action-body" col="1" verticalAlignment="middle" horizontalAlignment="left" [text]="name">
                    </Label>
                </GridLayout>
                <GridLayout col="1" columns="auto,auto" height="100%" width="45%">
                    <Label class="action-heading" col="0" verticalAlignment="middle" horizontalAlignment="left" text="Car Plate : ">
                    </Label>
                    <Label class="action-body" col="1" verticalAlignment="middle" horizontalAlignment="left" [text]="carPlate">
                    </Label>
                </GridLayout>
                <GridLayout col="2" height="100%" width="10%">
                    <StackLayout id="menuButton" width="50%" height="50%">
                        <Button class="action-menu option-menu-btn" (tap)="openMenu()"></Button>
                    </StackLayout>
                </GridLayout>
            </GridLayout>

            <GridLayout row="1" height="85%" width="100%" columns="auto,auto,auto">
                <StackLayout col="0" width="20%" height="100%" borderWidth="1" borderColor="#3498db">
                    <ListView #damageList width="100%" height="100%" backgroundColor="white" [items]="list" (itemTap)="onItemTap(item)"
                        padding="0%" rowHeight="80%" separatorColor="transparent">
                        <ng-template let-item="item">
                            <GridLayout>
                                <!-- <Label text="jjxnscjsjscn" color="blue" backgroundColor="green"></Label> -->
                                <Image width="90%" height="90%" backgroundColor="red" borderWidth="1" borderColor="#3498db"
                                    borderRadius="5" [src]="item.baseString" stretch="aspectFill" verticalAlignment="middle"
                                    horizontalAlignment="center"></Image>
                                <Image *ngIf="item.showPlus" src="res://circular_plus" width="25%" height="30%"
                                    marginRight="10%" borderRadius="50%" marginTop="10%" verticalAlignment="top"
                                    horizontalAlignment="right"></Image>
                                <GridLayout *ngIf="item.showPlus" backgroundColor="gray" width="90%" height="90%"
                                    borderWidth="1" borderColor="#3498db" borderRadius="5" opacity=".5">
                                </GridLayout>
                            </GridLayout>

                        </ng-template>
                    </ListView>
                </StackLayout>
                <GridLayout col="1" rows="auto,auto" width="60%" height="100%">
                    <GridLayout row="0" columns="*,*" width="100%" height="30%" borderWidth="1" borderColor="#3498db">
                        <GridLayout col="0" width="50%" height="100%">
                            <Image #image backgroundColor="white" class="signature-image" stretch="fill" [src]="imageSrc"
                                verticalAlignment="middle" horizontalAlignment="center"></Image>
                        </GridLayout>
                        <GridLayout col="1" width="50%" height="100%">
                            <Button #button [isEnabled]="isUploadEnabled" class="signature-button" width="90%" height="50vh"
                                text="Get Signature" horizontalAlignment="center" verticalAlignment="middle" (tap)="saveSignature()">
                            </Button>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="1" width="100%" height="70%" borderWidth="1" borderColor="#3498db" backgroundColor="gray">
                        <DrawingPad #signature backgroundColor="#3498db" width="100%" height="100%" penColor="black"
                            penWidth="5"></DrawingPad>
                        <!-- <DrawingPad #signature [visibility]="isDrawing?'visible':'collapse'" backgroundColor="#3498db"
                            width="100%" height="100%" penColor="black" penWidth="5"></DrawingPad> -->
                    </GridLayout>
                </GridLayout>
                <GridLayout col="2" rows="auto,auto" width="20%" height="100%" borderWidth="1" borderColor="#3498db">
                    <GridLayout row="0" width="100%" height="30%">
                        <!-- <Button class="checkin-button" [isEnabled]="canCheck" width="90%" height="50" text="Check-In"
                            horizontalAlignment="center" verticalAlignment="middle" (tap)="getSignatureAndUpload()">
                        </Button> -->
                        <Button class="checkin-button" [isEnabled]="canCheck" width="90%" height="50vh" text="Check-In"
                            horizontalAlignment="center" verticalAlignment="middle">
                        </Button>
                    </GridLayout>
                    <GridLayout row="1" width="100%" height="70%">
                        <Button class="clear-button" [isEnabled]="isDrawing" width="90%" height="50" text="Clear"
                            horizontalAlignment="center" verticalAlignment="middle" (tap)="clearMyDrawing()">
                        </Button>
                    </GridLayout>
                </GridLayout>
            </GridLayout>







            <!-- <Button [isEnabled]="isGetImageEnabled" shadow="15" elevation="15" (tap)="getImage($event)"></Button>
    <Button [isEnabled]="isUploadEnabled" horizontalAlignment="right" verticalAlignment="bottom"
        (tap)="uploadToServer()"></Button> -->
            <!-- <GridLayout height="20%" width="40%" verticalAlignment="bottom" horizontalAlignment="center" backgroundColor="pink"
        col="1" columns="auto,auto">
        <Button col="0" backgroundColor="blue" (tap)="getImage()">
        </Button>
        <Button col="1" backgroundColor="green" (tap)="pickImage()">
        </Button>
    </GridLayout> -->




        </GridLayout>
    </GridLayout>
</Page>

<!-- <Page>

    <GridLayout height="100%" width="100%">
        <StackLayout #selectionDialog modal style.zIndex="999" size="md" alignment="middle" duration="100">
            <GridLayout borderRadius="3" rows="auto, auto" class="p-t-15 bg-white">
                <Button text="Capture Image" textTransform="none" row="0" class="login-button" ng-click="showme=true"
                    (tap)="captureImage()"></Button>
                <Button text="Pick From Gallary" textTransform="none" row="1" class="login-button" ng-click="showme=true"
                    (tap)="pickImage()"></Button>
            </GridLayout>
        </StackLayout>

        <GridLayout rows="*, auto, auto">
            <ListView [items]="imageAssets" *ngIf="!isSingleMode">
                <ng-template let-image="item" let-i="index">
                    <GridLayout columns="auto, *">
                        <Image [width]="thumbSize" [height]="thumbSize" [src]="image" stretch="aspectFill"></Image>
                        <Label col="1" [text]="'image ' + i"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>

            <Image [src]="src" *ngIf="isSingleMode" width="200" height="200" stretch="aspectFit"></Image>
            <Button row="1" text="Pick Single" (tap)="onSelectSingleTap()" horizontalAlignment="center"></Button>
            <Button row="2" text="Pick Multiple" (tap)="captureImage()" horizontalAlignment="center"></Button>
        </GridLayout>

    </GridLayout>



</Page> -->

<!-- 


<ActionBar title="Basic RadGauge" class="action-bar">
</ActionBar>

<ScrollView class="page">
    <StackLayout orientation="vertical">
        <GridLayout class="home-panel" height="700px" style="margin-top:180">
            
            <Image class="img" src="res://background" stretch="fill" backgroundColor="red" height="300vh" width="300vh" borderRadius="150vh"></Image>

        </GridLayout>
        <Button text="Pick Multiple" (tap)="captureImage()" horizontalAlignment="center"></Button>

    </StackLayout>
</ScrollView> -->